<launch>
    <rosparam file="$(find boot)/usv_params.yaml" command="load" ns="usv" />

    <include file="$(find boot)/launch/navigation.launch"/>
    <include file="$(find boot)/launch/move_base.launch"/>
    <node pkg="boot" type="measurement_data.py" name="measurements_pub" output="screen"/>
</launch>
